body {
background-image: url("fruit-background.jpg");
}

h1, h2 {
  text-align: center;
}

.fruit, .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.box {
  width: 15%;
  height: 100px;
  margin: 50px 0 20px 0;
}

.btn {
  width: 20%;
}

.apple{
  background-image: url("apple.png");
  display: inline;
  width: 20%;
  height: 150px;
  margin: 50px 0 20px 0;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
}


.orange{
  background-image: url("orange.png");
  width: 20%;
  height: 150px;
  margin: 50px 0 20px 0;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
}


.banana{
  background-image:url('banana.png');
  width: 20%;
  height: 150px;
  margin: 50px 0 20px 0;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
}


.pears{
  background-image: url('pear.png');
  width: 20%;
  height: 150px;
  margin: 50px 0 20px 0;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.info{
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
