body {
background-image: url("fruit-background.jpg");
}

.fruitimage{
  display: block;
  margin: auto;
}
h1, h2 {
  text-align: center;
}

.fruit, .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.box {
  width: 15%;
  height: 150px;
}

.btn {
  display: block;
  width: 100%;
}


.info{
  flex: 1;
  background-color: #fff;
  opacity: 0.5;
}

.hidden {
  display: none;
}
